.sidePannel {
  display: flex;
  padding: 0 10px;
  min-width: 300px;
}

.singleRow {
  cursor: pointer;
  background-color: rgba(244, 244, 244);
  transition: all 100ms;
  padding: 10px;
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  &:hover {
    background-color: white;
  }
}
