.sidePannel {
  display: flex;
  padding: 10px;
  min-width: 300px;
  gap: 10px;
}
.pannelInner {
  max-width: 100%;
  overflow-y: scroll;
}

.singleRow {
  cursor: pointer;
  background-color: rgba(244, 244, 244);
  transition: all 100ms;
  padding: 10px;
  h4 {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    small {
      color: #aaa;
      font-weight: normal;
    }
  }
  p {
    font-size: 12px;
  }
  &:hover {
    background-color: white;
  }
}
